/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

/*
* Fixed Page Border
*/

.left,
.right,
.top,
.bottom {
  background: #00C7FE;
  position: fixed;
  z-index: 100;
}

.left,
.right {
  top: 0;
  bottom: 0;
  width: 15px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.top,
.bottom {
  left: 0;
  right: 0;
  height: 15px;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

/*
* App Temp Test styles
*/

.homepage-button {
  margin-top: 25px;
}
